.background{
	background-image: url("/tomatoes.jpg");
}

body{
	font-family: 'Montserrat', sans-serif;
}

.jumbotron text-center{
		background-image: url("tomatoes.jpg");
		background-color: #ffff;
		color: #ffff;
	}